{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>login</title>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {% if error %}
            <strong>{{ error }}</strong>
        {% endif %}
        <div class="form-group">
            <label for="usernameinput">Username</label>
            <input name="username" maxlength="50" type="text" class="form-control" id="usernameinput" placeholder="Enter username" required>
        </div>
        <div class="form-group">
            <label for="passwordinput">Password</label>
            <input name="password" type="password" class="form-control" id="passwordinput" placeholder="************" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}

{% block script %}
{% endblock %}