{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>hello</title>
{% endblock %}

{% block content %}
<!-- write code here -->
{% for peep in asd %}

timestamp {{ peep.0 }}
<br>
jumlah_komik {{ peep.1 }}
<br>
jumlah_menu {{ peep.2 }}
<br>
total_biaya {{ peep.3 }}
<br>
no_anggota {{ peep.4 }}
<br>
kode {{ peep.5 }}
<br>
<br>
<br>
{% endfor %}
{% endblock %}

{% block script %}
{% endblock %}
